version: "3" # version 3 makes it swarm mode compatible
services:
  web:
    image: jennyejohnson/setup-code:starter
    deploy:
      replicas: 5 # number of instances you want to run
      resources:
        limits:
          cpus: "0.1"
          memory: 50M
      restart_policy:
        condition: on-failure # immediately restart containers on failure
    ports:
      - "80:80"
    networks:
      - webnet
networks:
  webnet:
